html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  max-width: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
}

img {
  max-height: 100%;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}
ul li {
  padding: 0;
  left: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 87.5%;
  margin: 0 auto;
}

.rotate180 {
  transform: rotate(180deg);
}

a {
  text-decoration: none;
}

.mobile-wrapper {
  min-width: 320px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  max-width: 100%;
  /*--------------------------------------------*/
}
.mobile-wrapper::after {
  content: '';
  display: block;
  height: 70px;
}
.mobile-wrapper .mobile-white-band {
  height: 2px;
  background: #FFF;
}
.mobile-wrapper .mobile-header {
  background: #42396f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 39px;
  text-align: center;
}
.mobile-wrapper .mobile-menu {
  float: left;
  padding: 13px 12px;
}
.mobile-wrapper .mobile-menu .mobile-menu__link {
  display: block;
}
.mobile-wrapper .mobile-menu .mobile-menu__img {
  display: block;
}
.mobile-wrapper .mobile-logo {
  display: inline-block;
  padding-top: 6px;
}
.mobile-wrapper .mobile-logo .mobile-logo__link {
  display: block;
}
.mobile-wrapper .mobile-logo .mobile-logo__img {
  display: block;
  max-width: 123px;
  max-height: 30px;
}
.mobile-wrapper .mobile-login {
  float: right;
  padding: 13px 12px;
}
.mobile-wrapper .mobile-login .mobile-login__link {
  display: block;
}
.mobile-wrapper .mobile-login .mobile-login__img {
  display: block;
}
.mobile-wrapper .mobile-face {
  background: #42396f;
  background: url(../img/bg-main.jpg) no-repeat;
  background-size: cover;
  height: 300px;
}
.mobile-wrapper .mobile-face-bg-opacity {
  width: 100%;
  height: 100%;
  background: #42396f;
  background: url(../img/bg-opacity.png);
}
.mobile-wrapper .mobile-title {
  color: #fff;
  padding-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.mobile-wrapper .mobile-title h1 {
  font-size: 24px;
  font-weight: 300;
}
.mobile-wrapper .mobile-title__part {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-top: 20px;
}
.mobile-wrapper .mobile-button-metro {
  margin-bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: #FFF;
  font-size: 15px;
  width: 100%;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-wrapper .mobile-button-option-style {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: #FFF;
  font-size: 15px;
  width: 100%;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-wrapper .mobile-button-metro__text {
  display: inline-block;
  vertical-align: middle;
}
.mobile-wrapper .mobile-button-metro__text::before {
  content: '';
  background: url("../img/metro-icon.png") no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mobile-wrapper .mobile-button-categories {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: #FFF;
  font-size: 15px;
  width: 100%;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-wrapper .mobile-button-categories__text {
  display: inline-block;
  vertical-align: middle;
}
.mobile-wrapper .mobile-button-categories__text::before {
  content: '';
  background: url("../img/categories-icon.png") no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mobile-wrapper .mobile-main-menu {
  background: #f2f2f2;
  padding-bottom: 25px;
}
.mobile-wrapper .mobile-salon-registration {
  padding-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.mobile-wrapper .mobile-salon-registration::before {
  content: '';
  background: url("../img/crown.png") no-repeat;
  width: 30px;
  height: 20px;
  display: block;
  margin: 0 auto;
}
.mobile-wrapper .mobile-best-salon {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
  color: #3c3c3b;
}
.mobile-wrapper .mobile-best-salon::before, .mobile-wrapper .mobile-best-salon::after {
  content: '';
  width: 3px;
  height: 3px;
  background: #6e6a6c;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.mobile-wrapper .mobile-best-salon::before {
  margin-right: 13px;
}
.mobile-wrapper .mobile-best-salon::after {
  margin-left: 13px;
}
.mobile-wrapper .mobile-button-salon-registration {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: #ec407a;
  box-shadow: 1px 1.732px 8px 0px #4b0e2b;
  color: #FFF;
  font-size: 16px;
  border-radius: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 389px;
  width: 275px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}
.mobile-wrapper .mobile-main-nav__list {
  position: relative;
  list-style-type: none;
  counter-reset: num;
}
.mobile-wrapper .mobile-main-nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.mobile-wrapper .mobile-main-nav__item:last-child {
  border-bottom: none;
}
.mobile-wrapper .mobile-main-nav__item::before {
  display: inline-block;
  content: counter(num) ". ";
  counter-increment: num;
  margin-right: 25px;
}
.mobile-wrapper .mobile-main-nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #111;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-wrapper .mobile-main-nav__link:after {
  content: '';
  background: url("../img/arrow.png") no-repeat;
  width: 7px;
  height: 14px;
  position: absolute;
  right: 10px;
  margin-top: 4px;
}

/*--------------------------------------------*/
.mobile-footer {
  background: #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  height: 70px;
  margin-top: -70px;
}

.mail__link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-size: 14px;
  color: #5e35b1;
}
.mail__link::before {
  content: '';
  background: url("../img/mail.png") no-repeat;
  width: 16px;
  height: 12px;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
}

.mobile-footer__text p {
  color: #3c3c3b;
  font-weight: 300px;
  font-size: 14px;
}
.mobile-footer__text p a {
  text-decoration: none;
  color: #5e35b1;
}

.filter-blur {
  filter: blur(3px);
}

/*----------------------metro----------------------*/
.mobile-metro-page {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 0.6s ease;
  z-index: 999;
  height: 200%;
  overflow-y: auto;
}

.openMetroPage {
  transform: translateY(0);
}

.mobile-metro-selection {
  background: #2f2562;
  margin: 0 auto;
  overflow-y: auto;
  min-width: 320px;
  position: relative;
  max-width: 100%;
  height: 200%;
}

.mobile-metro-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #443b72;
  position: relative;
}
.mobile-metro-header .wrapper {
  position: relative;
}

.mobile-metro-title {
  color: #FFF;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
.mobile-metro-title::before {
  content: '';
  background: url("../img/metro-icon.png") no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.mobile-close {
  display: inline-block;
  padding: 10px;
}

.mobile-close__img {
  display: block;
}

.mobile-close_position {
  position: absolute;
  right: -10px;
  margin-top: -7px;
}

/*-------------------------------------------*/
.mobile-metro-search {
  padding-top: 23px;
}

.mobile-metro-search {
  position: relative;
  margin-bottom: 20px;
  padding-top: 23px;
}

.mobile-metro-search__input {
  border: 1px solid #595181;
  border-radius: 50px;
  color: #595181;
  width: 100%;
  padding: 10px 40px 10px 23px;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
}

.mobile-metro-search__submit {
  background: url(../../img/search.png) no-repeat;
  width: 12px;
  height: 13px;
  display: inline-block;
  outline: none;
  border: none;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: 5px;
}

.mobile-metro-search-title {
  font-size: 15px;
  color: #FFF;
  margin-left: 32px;
  padding-bottom: 14px;
}

/*------------------metro-menu--------------------*/
.mobile-metro-menu {
  color: #FFF;
  font-size: 15px;
  overflow-y: auto;
}

.mobile-metro-menu__item {
  border-top: 1px solid #443b72;
}
.mobile-metro-menu__item .wrapper {
  position: relative;
}

.mobile-metro-menu__arrow {
  background: url("../../img/arrow-metro.png") no-repeat;
  width: 12px;
  height: 6px;
  position: absolute;
  right: 0px;
  margin-top: 20px;
}

.mobile-metro-menu-2level {
  margin-top: 25px;
  display: none;
}

.mobile-metro-menu-2level__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-metro-menu__name {
  display: inline-block;
  vertical-align: middle;
  padding-top: 14px;
  padding-bottom: 14px;
}

.mobile-metro_color-red::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #ef1e25;
}

.mobile-metro_color-green::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #029a55;
}

.mobile-metro_color-blue::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #0252a2;
}

.mobile-metro_color-lightBlue::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #019ee0;
}

.mobile-metro_color-brown::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #725d28;
}

.mobile-metro_color-orange::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #fa9d23;
}

.mobile-metro_color-pink::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #b31d8e;
}

.mobile-metro_color-yellow::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #fbd601;
}

.mobile-metro_color-grey::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #acadaf;
}

.mobile-metro_color-lightGreen::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #b1d332;
}

.mobile-metro_color-blue2::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #4697b2;
}

.mobile-metro_color-lightBlue2::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px;
  background: #85d4f3;
}

.mobile-metro_smallCircle::before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.mobile-metro-item_active {
  background: #423970;
  position: relative;
}

.mobile-metro-text_active {
  color: #FFF;
}

/*-----------------------categories---------------------*/
/*---------------------- categories  ------------------*/
.mobile-categories-emergence {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-200%);
  transition: transform 0.6s ease;
  z-index: 999;
  height: 200%;
}

.openCategoriesPage {
  transform: translateY(0);
}

.mobile-categories-selection {
  background: #4f3bae;
  min-width: 320px;
  position: relative;
  max-width: 100%;
  height: 200%;
}

.mobile-title-section {
  border-bottom: 1px solid #614fb6;
  padding-top: 11px;
  padding-bottom: 11px;
}
.mobile-title-section .wrapper {
  position: relative;
}

.mobile-categories-title {
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 15px;
  margin-left: 5px;
}
.mobile-categories-title::before {
  content: '';
  background: url("../img/categories-icon.png") no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.mobile-categories-list {
  margin-top: 7px;
  padding-bottom: 40px;
}

.mobile-categories__item {
  padding: 10px 0;
}
.mobile-categories__item .wrapper {
  position: relative;
}

.mobile-categories__text {
  display: inline-block;
  vertical-align: middle;
  max-width: 195px;
  color: rgba(255, 255, 255, 0.7);
}

.mobile-categories__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  fill: #FFF;
}
.mobile-categories__icon img {
  display: inline-block;
}

.mobile-categories-item_active {
  background: #5f4db5;
  position: relative;
}

.mobile-categories-text_active {
  color: #FFF;
}

.mobile-close2 {
  background: url("../../img/close2.png") no-repeat;
  width: 11px;
  height: 11px;
  display: inline-block;
}

.mobile-close2_position {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -6px;
}

/*----------------------registration----------------------*/
.mobile-door-emergence {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-101%);
  transition: transform 0.6s ease;
  z-index: 999;
}

.openDoorPage {
  transform: translateY(0);
}

.mobile-door-section {
  background: #161325;
  opacity: 0.86;
}

.mobile-door-header {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid #353045;
  position: relative;
}

.mobile-door__item {
  display: inline-block;
  padding: 10px 30px;
}
.mobile-door__item:last-child {
  margin-right: 0px;
}

.mobile-close_position-door {
  position: absolute;
  right: 20px;
  top: 3px;
}

.mobile-door__item_active {
  color: #FFF;
  border-bottom: 2px solid #ec407a;
  transition: color 0.3s ease;
}

.mobile-form-section-signIn {
  margin-top: 50px;
}

.mobile-door-form_style {
  width: 100%;
  background: transparent;
  outline: none;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  padding: 12px;
  margin-bottom: 9px;
}
.mobile-door-form_style:last-child {
  margin-bottom: 0px;
}

.mobile-login-form {
  margin-bottom: 20px;
}

.mobile-account-management {
  font-size: 14px;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 25px;
  margin-top: 10px;
  font-weight: 300;
}

.remember-me {
  color: #FFF;
  float: left;
}

.forgot-password {
  float: right;
}

.forgot-password__link {
  color: #ec407a;
}

.remember-me__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.remember-me__label {
  position: relative;
  display: block;
}

.remember-me__elem {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #908d9a;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.remember-me__elem::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
}

.remember-me__input:checked + .remember-me__elem::after {
  width: 100%;
  height: 100%;
  background: url(../../img/check.png) no-repeat;
  top: -3px;
  left: 3px;
}

.mobile-button-signIn {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px solid #353045;
}

.signIn {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ec407a;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  border-radius: 50px;
  position: relative;
}
.signIn::before {
  content: '';
  position: absolute;
  background: url(../../img/call.png) no-repeat;
  width: 14px;
  height: 16px;
  left: 20px;
  top: 50%;
  margin-top: -8px;
}

.mobile-social-button {
  padding-bottom: 50px;
}
.mobile-social-button .wrap {
  width: 280px;
  margin: 0 auto;
}

.socials-button-wrap {
  color: #FFF;
  margin-top: 25px;
}
.socials-button-wrap p {
  margin-bottom: 20px;
}

.socials {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 13px;
}

.socials__item {
  float: left;
  margin-right: 9px;
}
.socials__item:last-child {
  margin-right: 0px;
}

.socials__link {
  display: block;
}

.socials__link_fb .socials__icon {
  background: url("../../img/social/fb.png") no-repeat;
  width: 135px;
  height: 32px;
}

.socials__link_vk .socials__icon {
  background: url("../../img/social/vk.png") no-repeat;
  width: 135px;
  height: 32px;
}

.socials__link_ok .socials__icon {
  background: url("../../img/social/ok.png") no-repeat;
  width: 32px;
  height: 32px;
}

.socials__link_twitter .socials__icon {
  background: url("../../img/social/twitter.png") no-repeat;
  width: 32px;
  height: 32px;
}

.socials__link_gmail .socials__icon {
  background: url("../../img/social/gmail.png") no-repeat;
  width: 32px;
  height: 32px;
}

.socials__link_yandex .socials__icon {
  background: url("../../img/social/yandex.png") no-repeat;
  width: 32px;
  height: 32px;
}

.socials__link_mail .socials__icon {
  background: url("../../img/social/mail.png") no-repeat;
  width: 32px;
  height: 32px;
}

/*--------------------------------------*/
.mobile-form-section-signUp {
  display: none;
}

.mobile-registration-form-section {
  margin-top: 20px;
  border-bottom: 1px solid #474553;
}

.mobile-registration-form {
  margin-bottom: 20px;
}
.mobile-registration-form p {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-left: 13px;
}

.mobile-choice-gender {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 300;
  margin-left: 9px;
  margin-bottom: 23px;
}

.gender {
  display: inline-block;
  color: #FFF;
  margin-right: 18px;
}

.choice-gender__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.choice-gender__label {
  position: relative;
}

.choice-gender__elem {
  position: relative;
  width: 15px;
  height: 15px;
  border: 1px solid #908d9a;
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  border-radius: 50%;
}

.choice-gender__text {
  display: inline-block;
  vertical-align: middle;
}

.choice-gender__elem::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: #ec407a;
  border-radius: 50%;
  width: 0;
  height: 0;
  content: '';
}

.choice-gender__input:checked + .choice-gender__elem::after {
  width: 7px;
  height: 7px;
}

.choice-gender__input:checked + .choice-gender__elem {
  border: 1px solid #FFF;
}

.choice-gender__input:checked ~ .choice-gender__text {
  color: #FFF;
}

.choice-gender__woman {
  margin-right: 23px;
}

/*--------------------------------------------*/
.mobile-menu-emergence {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-101%);
  transition: transform 0.6s ease;
  z-index: 1001;
}

.openMenuPage {
  transform: translateY(0);
}

.mobile-menu-section {
  background: #161325;
  opacity: 0.851;
}

.mobile-salon-search-header {
  border-bottom: 1px solid #343045;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-salon-search-header .wrapper {
  position: relative;
}

.mobile-salon-search-form {
  position: relative;
  width: 85.7%;
}

.mobile-close_position-menu {
  position: absolute;
  right: -10px;
  top: 0px;
}

.mobile-salon-search-form__input {
  border: 1px solid #4a4659;
  border-radius: 50px;
  color: #FFF;
  width: 100%;
  padding: 10px 55px 10px 13px;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
}

.mobile-salon-search-form__submit {
  background: url(../../img/search.png) no-repeat;
  width: 12px;
  height: 13px;
  outline: none;
  border: none;
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -5px;
}

.mobile-salon-menu-list {
  padding-left: 12px;
  margin-top: 20px;
  padding-bottom: 130px;
}

.mobile-salon-menu__link {
  display: block;
  color: #FFF;
}

.mobile-salon-menu__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*--------------------------------------------*/
.mobile-header-index {
  background: #FFF;
  height: 40px;
  text-align: center;
}

.mobile-index {
  padding-bottom: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.swiper-pagination-bullet {
  background: transparent;
  border: 2px solid #FFF;
}

.swiper-pagination-bullet-active {
  background: #FFF;
}

.main-slider__img {
  max-height: 250px;
}

.mobile-menu-index {
  float: left;
  padding: 14px 12px;
}
.mobile-menu-index .mobile-menu-index__link {
  display: block;
}
.mobile-menu-index .mobile-menu-index__img {
  display: block;
}

.mobile-logo-index {
  display: inline-block;
  padding-top: 6px;
}

.mobile-logo-index__link {
  display: block;
}

.mobile-logo-index__img {
  display: block;
}

.mobile-login-index {
  padding: 13px 12px;
  float: right;
}
.mobile-login-index .mobile-login-index__link {
  display: block;
}
.mobile-login-index .mobile-login-index__img {
  display: block;
}

.mobile-metro-section {
  background: #2f2562;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.mobile-index .mobile-metro-title {
  padding-left: 0;
}

.mobile-index .mobile-categories-title {
  margin-left: 0;
}

.mobile-categories-section {
  background: #5e35b1;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
}

.mobile-slider-section {
  height: 249px;
}

.mobile-slider-section__img {
  width: 100%;
  height: 100%;
}

.mobile-index .mobile-button-salon-registration {
  top: 388px;
}

.mobile-guide-section {
  background: #FFF;
  padding-top: 30px;
}
.mobile-guide-section::before {
  content: '';
  background: url("../img/page2/compass.svg") no-repeat;
  width: 30px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.mobile-guide-title {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
  color: #3c3c3b;
}
.mobile-guide-title::before, .mobile-guide-title::after {
  content: '';
  width: 3px;
  height: 3px;
  background: #6e6a6c;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.mobile-guide-title::before {
  margin-right: 13px;
}
.mobile-guide-title::after {
  margin-left: 13px;
}

.mobile-guide-list {
  margin-left: 10px;
  padding-bottom: 40px;
}

.mobile-guide__item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-guide__icon {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  text-align: center;
  margin-right: 20px;
}

.mobile-guide__title {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #3c3c3b;
  width: 130px;
}

.mobile-guide__sum {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3b;
}

.mobile-guide__link {
  display: block;
}

.mobile-guide__img {
  display: inline-block;
  height: 25px;
}

/*-------------------------------------*/
.mobile-shares-section {
  margin-bottom: 20px;
}

.mobile-shares {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-shares .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.mobile-shares__title {
  font-size: 16px;
  color: #3c3c3b;
  float: left;
}

.mobile-shares__link {
  float: right;
  font-size: 14px;
  color: #5e35b1;
}

.mobile-card-shares {
  background: #ededed;
  position: relative;
  margin-bottom: 10px;
}

.mobile-card-shares-img {
  max-height: 250px;
  min-height: 160px;
  text-align: center;
}
.mobile-card-shares-img img {
  display: inline-block;
  max-height: 250px;
}

.mobile-card-shares-content {
  padding: 20px;
  position: relative;
}

.mobile-card-shares-content__title {
  font-size: 16px;
  color: #3c3c3b;
  margin-bottom: 24px;
  width: 194px;
}

.mobile-card-shares-content__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #3c3c3b;
  font-weight: 300;
  margin-bottom: 18px;
}
.mobile-card-shares-content__name::before {
  content: '';
  background: url("../img/page2/pin.png") no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.mobile-salon-adress::before {
  content: '';
  background: url("../img/page2/adress-pic.png") no-repeat;
  width: 28px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.mobile-adress-salon {
  font-size: 14px;
  color: #3c3c3b;
  font-weight: 300;
}
.mobile-adress-salon .adress::after {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
  background: #929292;
}

.mobile-time-shares {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #FFF;
  font-size: 14px;
  bottom: 10px;
  right: 5px;
}

.mobile-time-shares__day {
  margin-top: 13px;
  margin-left: 10px;
  display: inline-block;
  color: #3c3c3b;
  opacity: 0.6;
}

.mobile-slider-controll {
  overflow: hidden;
  *zoom: 1;
  width: 140px;
  margin: 0 auto;
  padding: 1px;
}

.mobile-slider-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e7e7e7;
  background: transparent;
  position: relative;
}

.mobile-arrow-slider__back {
  float: left;
}
.mobile-arrow-slider__back::before {
  content: '';
  background: url("../../img/arrow.png");
  width: 7px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  transform: rotate(180deg);
}

.mobile-arrow-slider__next {
  float: right;
}
.mobile-arrow-slider__next::before {
  content: '';
  background: url("../../img/arrow.png");
  width: 7px;
  height: 14px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.mobile-arrow-slider__next .swiper-pagination {
  margin-top: 0;
}

.swiper-button-next, .swiper-button-prev {
  margin: 0;
  right: 0;
  left: 0;
}

.swiper-button-disabled {
  opacity: 1;
}

.mobile-slider-amount {
  text-align: center;
  margin-top: 0.65em;
  width: 40px;
  left: 50%;
  margin-left: -20px;
}

/*-----------------------------------------*/
.mobile-reviews-section {
  margin-bottom: 20px;
}

.mobile-reviews-title-block {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-reviews-title-block .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.mobile-salon-reviews {
  margin-bottom: 25px;
}

.mobile-reviews__title {
  font-size: 16px;
  color: #3c3c3b;
  float: left;
}

.mobile-reviews__link {
  float: right;
  font-size: 14px;
  color: #5e35b1;
}

.mobile-salon-reviews__name {
  font-size: 16px;
  color: #3c3c3b;
  margin-bottom: 10px;
}

.mobile-reviews {
  margin-top: 10px;
  padding: 20px;
  position: relative;
  border-width: 1px 1px 0 1px;
  border-color: #ededed #ededed transparent #ededed;
  border-style: solid;
  background: linear-gradient(to right, #ededed 0%, #ededed 15px, rgba(0, 0, 0, 0) 19px, rgba(0, 0, 0, 0) 38px, #ededed 38px, #ededed 100%) no-repeat bottom center/100% 1px;
}
.mobile-reviews p {
  line-height: 20px;
  font-size: 14px;
  color: #3c3c3b;
  font-weight: 300;
}
.mobile-reviews::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -8px;
  left: 18px;
  width: 17px;
  height: 17px;
  transform: rotate(-45deg);
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed;
}

.mobile-reviews-further {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #5e35b1;
  margin-top: 30px;
}

.mobile-salon-reviews__author {
  margin-top: 25px;
  margin-left: 20px;
  font-size: 14px;
  color: #3c3c3b;
}

/*-----------------------------------------*/
.mobile-events-section {
  margin-bottom: 20px;
}

.mobile-events-title-block {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-events-title-block .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.mobile-events-reviews {
  margin-bottom: 25px;
}

.mobile-events__title {
  font-size: 16px;
  color: #3c3c3b;
  float: left;
}

.mobile-events__link {
  float: right;
  font-size: 14px;
  color: #5e35b1;
}

.mobile-salon-events-card {
  border: 1px solid #ededed;
  margin-bottom: 10px;
}

.mobile-card-events-img {
  text-align: center;
  height: 160px;
  background: #FFF;
}
.mobile-card-events-img::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mobile-card-events-img img {
  display: inline-block;
  vertical-align: middle;
}

.mobile-card-events-content {
  background: #ededed;
  padding: 20px 10px;
}

.mobile-card-events-content__title {
  color: #3c3c3b;
  font-size: 16px;
  margin-bottom: 20px;
}

.mobile-card-events-content__adress {
  color: #3c3c3b;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  width: 230px;
  line-height: 20px;
  margin-bottom: 10px;
}
.mobile-card-events-content__adress::before {
  content: "";
  background: url("../../img/page2/pin.png");
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.mobile-card-events-content__adress .events-adress {
  display: inline-block;
  margin-left: 19px;
}

.mobile-card-events-content__time {
  color: #3c3c3b;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
.mobile-card-events-content__time::before {
  content: "";
  background: url("../../img/page2/time.png");
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

/*-----------------------------------------*/
.mobile-news-section {
  margin-bottom: 20px;
}

.mobile-news-title-block {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-news-title-block .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.mobile-news__title {
  font-size: 16px;
  color: #3c3c3b;
  float: left;
}

.mobile-news__link {
  float: right;
  font-size: 14px;
  color: #5e35b1;
}

.mobile-salon-news-card {
  background: #ededed;
  position: relative;
  margin-bottom: 10px;
}

.mobile-card-news-content {
  padding: 20px;
}

.mobile-card-news-img {
  max-height: 250px;
  min-height: 160px;
  text-align: center;
}
.mobile-card-news-img img {
  display: inline-block;
  max-height: 250px;
}

.mobile-card-news-content__time {
  font-size: 14px;
  opacity: 0.6;
  color: #3c3c3b;
  margin-bottom: 14px;
}

.mobile-card-news-content__description {
  font-size: 16px;
  color: #3c3c3b;
  margin-bottom: 30px;
}

.mobile-card-news-content__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #3c3c3b;
  font-weight: 300;
  margin-bottom: 18px;
  margin-bottom: 18px;
}
.mobile-card-news-content__name::before {
  content: '';
  background: url("../img/page2/pin.png") no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/*--------------------------*/
.mobile-articles-section {
  margin-bottom: 30px;
}

.mobile-articles-title-block {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-articles-title-block .wrapper {
  overflow: hidden;
  *zoom: 1;
}

.mobile-articles__title {
  font-size: 16px;
  color: #3c3c3b;
  float: left;
}

.mobile-articles__link {
  float: right;
  font-size: 14px;
  color: #5e35b1;
}

.mobile-salon-articles-card {
  background: #ededed;
  position: relative;
  margin-bottom: 10px;
}

.mobile-card-articles-content {
  padding: 20px;
}

.mobile-card-articles-img {
  max-height: 250px;
  min-height: 160px;
  text-align: center;
}
.mobile-card-articles-img img {
  display: inline-block;
  max-height: 250px;
}

.mobile-card-articles-content__time {
  font-size: 14px;
  opacity: 0.6;
  color: #3c3c3b;
  margin-bottom: 14px;
}

.mobile-card-articles-content__description {
  font-size: 16px;
  color: #3c3c3b;
  margin-bottom: 30px;
}

.mobile-card-articles-content__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #3c3c3b;
  font-weight: 300;
  margin-bottom: 18px;
  margin-bottom: 18px;
}
.mobile-card-articles-content__name::before {
  content: '';
  background: url("../img/page2/pin.png") no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/*--------------------------------------*/
.content-section h1 {
  color: #3c3c3b;
  font-size: 18px;
  margin-bottom: 11px;
}
.content-section p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #3c3c3b;
  text-align: left;
}
.content-section h2 {
  margin-top: 40px;
  margin-bottom: 25px;
  color: #3c3c3b;
  font-size: 18px;
}

.content-list {
  margin-top: 25px;
  margin-bottom: 20px;
}

.content__item {
  color: #3c3c3b;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
.content__item:last-child {
  margin-bottom: 0;
}
.content__item::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #5e35b1;
  margin-right: 15px;
}

.content__description {
  font-weight: 300;
}

.content-wrap {
  display: inline-block;
  vertical-align: text-top;
  width: 78.125%;
}

/*--------------------------------------------*/
.mobile-promo-wrap {
  /*.mobile-footer {
      padding-bottom: 30px;
      padding-top: 25px;
  }*/
}
.mobile-promo-wrap .promo-section {
  background: #FFF;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5;
}
.mobile-promo-wrap .mobile-card-shares {
  margin-top: 20px;
}
.mobile-promo-wrap .mobile-button-download {
  margin-top: 30px;
  margin-bottom: 20px;
}
.mobile-promo-wrap .mobile-button-download button {
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3b;
  text-align: center;
  border: 1px solid #e5e5e5;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px;
}

.crumbs-section {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 19px;
  padding-bottom: 19px;
}

.crumbs-list {
  font-size: 0;
}

.crumbs__item {
  display: inline-block;
}
.crumbs__item:first-child .crumbs__link::before {
  display: none;
}

.crumbs__link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #3c3c3b;
  font-size: 14px;
}
.crumbs__link::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  background: url("../../img/page2/arrow2.png") no-repeat;
  width: 18px;
  height: 28px;
  margin-left: 7px;
  margin-right: 7px;
}

.crumbs__link_active {
  color: #5e35b1;
}

/*--------------------------------------------*/
.mobile-salon-wrap {
  color: #3c3c3b;
  /*.mobile-footer {
      padding-bottom: 30px;
      padding-top: 25px;
  }  */
}
.mobile-salon-wrap .mobile-discount-section {
  border-bottom: 1px solid #e5e5e5;
}
.mobile-salon-wrap .mobile-discount {
  width: 87.5%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobile-salon-wrap .mobile-picture-section {
  max-height: 250px;
}
.mobile-salon-wrap .mobile-picture-section img {
  display: block;
  margin: 0 auto;
}
.mobile-salon-wrap .mobile-discount h1 {
  font-size: 18px;
  margin-bottom: 17px;
  line-height: 20px;
}
.mobile-salon-wrap .mobile-discount-count {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}
.mobile-salon-wrap .mobile-discount-count__sum {
  font-weight: 700;
}
.mobile-salon-wrap .mobile-discount p {
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.mobile-salon-wrap .mobile-salon-nav-list {
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  *zoom: 1;
}
.mobile-salon-wrap .mobile-salon-nav__item {
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.mobile-salon-wrap .mobile-salon-nav__item_active {
  color: #ec407a;
  border-bottom: 2px solid #ec407a;
}
.mobile-salon-wrap .mobile-salon-card {
  background: #FFF;
  padding-top: 20px;
  padding-bottom: 24px;
}
.mobile-salon-wrap .mobile-salon-card .wrapper {
  overflow: hidden;
  *zoom: 1;
}
.mobile-salon-wrap .mobile-salon-info {
  float: right;
  width: 70%;
}
.mobile-salon-wrap .mobile-salon-info h2 {
  font-size: 18px;
  margin-bottom: 7px;
}
.mobile-salon-wrap .mobile-salon-info__adress {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 9px;
}
.mobile-salon-wrap .mobile-salon-adress {
  margin-bottom: 7px;
}
.mobile-salon-wrap .mobile-rating-section {
  margin-bottom: 10px;
}
.mobile-salon-wrap .mobile-rating-stars-list {
  display: inline-block;
  margin-right: 8px;
}
.mobile-salon-wrap .mobile-rating-stars__item {
  display: inline-block;
  vertical-align: middle;
  background: url("../../img/star.png");
  width: 13px;
  height: 13px;
}
.mobile-salon-wrap .mobile-rating-stars__item_filled {
  background: url("../../img/star-filled.png");
  width: 13px;
  height: 13px;
}
.mobile-salon-wrap .mobile-rating-count {
  color: #b5b3b3;
  font-size: 12px;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
.mobile-salon-wrap .mobile-salon-way {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  color: #5e35b1;
  font-size: 14px;
}
.mobile-salon-wrap .mobile-call {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #ec407a;
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  border-radius: 50px;
  position: relative;
  width: 95%;
}
.mobile-salon-wrap .mobile-call::before {
  content: '';
  position: absolute;
  background: url(../../img/call.png) no-repeat;
  width: 14px;
  height: 16px;
  left: 15px;
  top: 50%;
  margin-top: -8px;
}
.mobile-salon-wrap .mobile-salon-picture {
  float: left;
}
.mobile-salon-wrap .mobile-salon-picture img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
.mobile-salon-wrap .mobile-yandex-card {
  background: url("../../img/yandex.jpg");
  height: 115px;
}
.mobile-salon-wrap .mobile-slider-salon {
  background: #FFF;
  padding: 30px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.mobile-salon-wrap .mobile-slider-salon__picture {
  margin-bottom: 10px;
}
.mobile-salon-wrap .mobile-slider-salon__picture img {
  display: block;
  margin: 0 auto;
}
.mobile-salon-wrap .all-shares {
  color: #5e35b1;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 15px;
  position: relative;
  display: block;
  text-decoration: none;
  width: 87.5%;
  margin: 0 auto;
}
.mobile-salon-wrap .all-shares::after {
  content: '';
  background: url("../../img/arrow-blue.png");
  width: 7px;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -9px;
}
.mobile-salon-wrap .mobile-description-salon-title {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-salon-wrap .mobile-description-salon-title h2 {
  font-size: 16px;
  width: 87.5%;
  margin: 0 auto;
}
.mobile-salon-wrap .mobile-description-salon-content {
  width: 87.5%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.mobile-salon-wrap .mobile-description-salon-content p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 20px;
}
.mobile-salon-wrap .mobile-further-salon {
  color: #5e35b1;
  font-size: 14px;
  position: relative;
  display: block;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}
.mobile-salon-wrap .mobile-further-salon::after {
  content: '';
  background: url("../../img/arrow-blue.png");
  width: 7px;
  height: 14px;
  transform: rotate(90deg);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.mobile-salon-wrap .mobile-conditions-salon-title {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-salon-wrap .mobile-conditions-salon-title h2 {
  font-size: 16px;
  width: 87.5%;
  margin: 0 auto;
}
.mobile-salon-wrap .mobile-conditions-salon-list {
  width: 87.5%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.mobile-salon-wrap .mobile-conditions-salon__item {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.mobile-salon-wrap .mobile-conditions-salon__item:last-child {
  margin-bottom: 0;
}
.mobile-salon-wrap .mobile-conditions-salon__item::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 50%;
  background: #5e35b1;
  margin-right: 15px;
}
.mobile-salon-wrap .mobile-conditions-salon__item-text {
  display: inline-block;
  vertical-align: text-top;
  width: 78.125%;
}
.mobile-salon-wrap .mobile-other {
  background: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.mobile-salon-wrap .mobile-other h2 {
  font-size: 16px;
  width: 87.5%;
  margin: 0 auto;
}
.mobile-salon-wrap .mobile-salon-registration-section {
  background: #4c3c7f;
  color: #FFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mobile-salon-wrap .mobile-salon-registration__title1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}
.mobile-salon-wrap .mobile-salon-registration__title2 {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
}
.mobile-salon-wrap .mobile-salon-registration-button {
  background: transparent;
  width: 100%;
  border: 1px solid #FFF;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 15px;
  color: #FFF;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
}
.mobile-salon-wrap .mobile-salon-registration-button::before {
  content: '';
  background: url("../../img/plus.png");
  width: 11px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.mobile-salon-wrap .crumbs-section p {
  font-size: 14px;
}
