.mobile-metro-page
    .mobile-metro-selection
        .mobile-metro-header
            .wrapper
                h2.mobile-metro-title Станции метро
                .mobile-close.mobile-close_position.mobile-close_metro-js
                    img(src="img/close.png" alt="Закрыть" width="15"
    height="15").mobile-close__img
        .mobile-metro-search-section
            .wrapper
                form.mobile-metro-search
                    input(name="search-metro" type="text" placeholder="Введите название станции").mobile-metro-search__input
                    input(name="search-metro-submit" type="submit" value="" ).mobile-metro-search__submit
                h2.mobile-metro-search-title Линии
        .mobile-metro-menu-section

            ul.mobile-metro-menu.mobile-metro-menu_js
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-red Сокольническая
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-green Замоскворецкая 
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-blue Арбатско-Покровская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-lightBlue Филёвская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-brown Кольцевая
                    ul.mobile-metro-menu-2level.mobile-metro-menu-2level_js
                        - var menu2 = ["Киевская","Краснопресненская","Белорусская","Новослободская","Проспект Мира","Комсомольская","Курская","Таганская","Павелецкая","Добрынинская","Октябрьская","Парк культуры"]
                        each item in menu2
                            - var isActive2 = (item === "Таганская");
                                li(class="mobile-metro-menu-2level__item ")
                                    .wrapper
                                        span(class="mobile-metro-menu-2level__name mobile-metro_color-brown mobile-metro_smallCircle" + (isActive2 ? " mobile-metro-text_active": ''))= item
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-orange Калужско-Рижская
                    ul.mobile-metro-menu-2level.mobile-metro-menu-2level_js
                        - var menu2 = ["Киевская","Краснопресненская"]
                        each item in menu2
                            li.mobile-metro-menu-2level__item
                                .wrapper
                                    span.mobile-metro-menu-2level__name.mobile-metro_color-orange.mobile-metro_smallCircle= item
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-pink Таганско-Краснопресненская
                    ul.mobile-metro-menu-2level.mobile-metro-menu-2level_js
                        - var menu2 = ["Киевская","Краснопресненская"]
                        each item in menu2
                            li.mobile-metro-menu-2level__item
                                .wrapper
                                    span.mobile-metro-menu-2level__name.mobile-metro_color-pink.mobile-metro_smallCircle= item
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-yellow Калининско-Солнцевская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-grey Серпуховско-Тимирязевская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-lightGreen Люблинско-Дмитровская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-blue2 Каховская
                li.mobile-metro-menu__item
                    .wrapper
                        .mobile-metro-menu__item-content
                            span.mobile-metro-menu__arrow
                            span.mobile-metro-menu__name.mobile-metro_color-lightBlue2 Бутовская 


