doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        title Beauty shop
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet'  href='css/normalize.css' )
        link(rel='stylesheet'  href='css/main.css' )
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet")
        script(src="js/jquery-3.2.0.min.js" defer)
        script(src="js/hummer.js" defer)
        script(src="js/main.js" defer)
    body
        .mobile-wrapper
            .mobile-salon-wrap
                header.mobile-header-index.section-filter-blur
                    .mobile-menu-index.mobile-menu_js
                        a(href="#").mobile-menu-index__link
                            img(src="img/page2/menu2.png" alt="menu").mobile-menu-index__img
                    .mobile-logo-index        
                        a(href="index.html").mobile-logo-index__link
                            img(src="img/page2/logo-color.png" alt="logo" width="123" height="30").mobile-logo-index__img
                    .mobile-login-index.mobile-login_js
                        a(href="#").mobile-login-index__link
                            img(src="img/page2/doorSvg.svg" alt="enter" width="19" height="14").mobile-login-index__img
                .mobile-discount-section
                    .mobile-picture-section
                        img(src="img/girl-face.jpg" alt="girl")
                    .mobile-discount    
                        h1 Скидка 5% на лифтинг мезонитями    
                        .mobile-discount-count До конца акции: 
                            span.mobile-discount-count__sum  14 дней
                        p Подпишитесь на емейл-рассылку на сайте и получите на электронную почту купон со скидкой 5% лифтинг мезонитями и другие скидки и подарки.
                nav.mobile-salon-nav
                    ul.mobile-salon-nav-list
                        li.mobile-salon-nav__item.mobile-salon-nav__item_active О салоне
                        li.mobile-salon-nav__item Описание
                        li.mobile-salon-nav__item Условия
                        li.mobile-salon-nav__item Особенности
                .mobile-salon-card
                    .wrapper
                        .mobile-salon-picture
                            img(src="img/salon-card.jpg" alt="salon")
                        .mobile-salon-info
                            h2 Этисэль на Таганке
                            span.mobile-salon-info__adress ул. Верхняя Радищевская  4с1
                            .mobile-salon-adress
                                span.adress-salon
                                    span.adress м. Таганская
                                    span 350 м
                            .mobile-rating-section        
                                ul.mobile-rating-stars-list
                                    li.mobile-rating-stars__item.mobile-rating-stars__item_filled
                                    li.mobile-rating-stars__item.mobile-rating-stars__item_filled
                                    li.mobile-rating-stars__item.mobile-rating-stars__item_filled
                                    li.mobile-rating-stars__item.mobile-rating-stars__item_filled
                                    li.mobile-rating-stars__item
                                span.mobile-rating-count
                                    span 136 
                                    span голосов
                            a(href="#").mobile-salon-way Как добраться?
                            button(type="button").mobile-call +7 (499) 628-22-34
                .mobile-yandex-card
                .mobile-slider-salon
                    .mobile-slider-salon__picture
                        img(src="img/slider/salon.jpg" alt="salon")
                    .mobile-slider-controll
                        button.mobile-arrow-slider__back.prev1.mobile-slider-arrow.swiper-button-prev
                        button.mobile-arrow-slider__next.next1.mobile-slider-arrow.swiper-button-next
                        .mobile-slider-amount.amount1.swiper-pagination          
                .mobile-salon-description-section
                    a(href="#").all-shares  Смотреть все акции салона
                    .mobile-description-salon-title
                        h2 Описание
                    .mobile-description-salon-content    
                        p Армирование мезонитями – это эффективная механическая подтяжка кожи. Видимый эффект на полгода за счет подкожного введения 3D-мезонитей без операции. Дополнительный эффект от подтяжки в течение 2 лет – благодаря образованию естественного каркаса из коллагена вокруг мезонитей. 
                        a(href="#").mobile-further-salon  Читать полностью
                    .mobile-conditions-salon-title
                        h2 Условия
                    ul.mobile-conditions-salon-list
                        li.mobile-conditions-salon__item 
                            span.mobile-conditions-salon__item-text Предложение действует до 28 февраля 2017 года
                        li.mobile-conditions-salon__item
                            span.mobile-conditions-salon__item-text Воспользоваться предложением могут все клиенты клиники неограниченное число раз
                        li.mobile-conditions-salon__item
                            span.mobile-conditions-salon__item-text Необходима предварительная запись
                        li.mobile-conditions-salon__item
                            span.mobile-conditions-salon__item-text При записи сообщите администратору секретное слово "армирование мезонитями"
                        li.mobile-conditions-salon__item
                            span.mobile-conditions-salon__item-text Предложение не суммируется с другими акциями и скидками клиники
                .mobile-conditions-salon-title
                    h2 Условия    
                ul.mobile-conditions-salon-list
                    li.mobile-conditions-salon__item 
                        span.mobile-conditions-salon__item-text Используемая косметика — <br> 3D-мезонити

                    li.mobile-conditions-salon__item
                        span.mobile-conditions-salon__item-text Эффект длится до 2-х лет <br> Выполняет услугу врач-дерматовенеролог, дерматоонколог
                    li.mobile-conditions-salon__item
                        span.mobile-conditions-salon__item-text Продолжительность процедуры 30-40 минут
                    li.mobile-conditions-salon__item
                        span.mobile-conditions-salon__item-text Обычная стоимость от 600 рублей за нить
                    li.mobile-conditions-salon__item
                        span.mobile-conditions-salon__item-text Скидка по акции от 570 рублей
                    li.mobile-conditions-salon__item
                        span.mobile-conditions-salon__item-text Стоимость анестезии оплачивается отдельно
                .mobile-other
                    h2 Вас также могут заинтересовать
                .mobile-other-shares
                    .wrapper
                        .mobile-card-shares
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                h3.mobile-card-shares-content__title Подарок на февральские праздники
                                h3.mobile-card-shares-content__name Этисэль на Таганке
                                .mobile-salon-adress
                                    span.mobile-adress-salon
                                        span.adress м. Таганская
                                        span 350 м
                                .mobile-time-shares
                                    span.mobile-time-shares__day 26 д.
                        .mobile-slider-controll
                            button.mobile-arrow-slider__back.prev2.mobile-slider-arrow.swiper-button-prev
                            button.mobile-arrow-slider__next.next2.mobile-slider-arrow.swiper-button-next
                            .mobile-slider-amount.amount2.swiper-pagination  
                .mobile-salon-registration-section
                    .wrapper
                        .mobile-salon-registration__title1 Вы владелец салона?
                        .mobile-salon-registration__title2 Добавьте его в каталог!
                        button(type="button").mobile-salon-registration-button Зарегистрировать салон
                .crumbs-section
                    .wrapper
                        ul.crumbs-list
                            li.crumbs__item.crumbs__item-active
                                a(href="#").crumbs__link.crumbs__link_active Главная
                            li.crumbs__item
                                a(href="#").crumbs__link.crumbs__link_active Акции и скидки    
                        p Скидка 5% на лифтинг мезонитями
                        
        footer.mobile-footer
            .wrapper
                .mobile-mail
                    a(href="mailto:info@msk-beauty.ru").mail__link info@msk-beauty.ru
                .mobile-footer__text    
                    p Рейтинг составлен на коммерческой основе, чтобы узнать подробности вы можете 
                        a(href="#") связаться с менеджером.         
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                