doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        title Beauty shop
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet'  href='css/normalize.css' )
        link(rel='stylesheet'  href='css/main.css' )
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet")
        script(src="js/jquery-3.2.0.min.js" defer)
        script(src="js/hummer.js" defer)
        script(src="js/main.js" defer)
    body
        .mobile-wrapper
            .mobile-promo-wrap
                header.mobile-header-index
                    .container
                        .mobile-menu-index
                            a(href="#").mobile-menu-index__link
                                img(src="img/page2/menu2.png" alt="menu").mobile-menu-index__img 
                        a(href="#").mobile-logo-index-link
                        .mobile-login-index
                            a(href="#").mobile-login-index__link
                                img(src="img/page2/doorSvg.svg" alt="enter").mobile-login-index__img
                .mobile-metro-section
                    .mobile-metro-title
                        h1 Cтанции метро
                .mobile-categories-section
                    .mobile-categories-title 
                        h1 Категории услуг
                .promo-section
                    .wrapper
                        .mobile-card-shares
                            .angle
                                .time-shares
                                    span.time-shares__day 26 д.
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                .mobile-card-shares-content__title
                                    h3 Подарок на февральские праздники
                                .mobile-card-shares-content__name
                                    h3 Этисэль на Таганке
                                .mobile-salon-adress
                                    span.adress-salon
                                        span.adress м. Таганская
                                        span 350 м        
                        .mobile-card-shares
                            .angle
                                .time-shares
                                    span.time-shares__day 26 д.
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                .mobile-card-shares-content__title
                                    h3 Подарок на февральские праздники
                                .mobile-card-shares-content__name
                                    h3 Этисэль на Таганке
                                .mobile-salon-adress
                                    span.adress-salon
                                        span.adress м. Таганская
                                        span 350 м 
                        .mobile-card-shares
                            .angle
                                .time-shares
                                    span.time-shares__day 26 д.
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                .mobile-card-shares-content__title
                                    h3 Подарок на февральские праздники
                                .mobile-card-shares-content__name
                                    h3 Этисэль на Таганке
                                .mobile-salon-adress
                                    span.adress-salon
                                        span.adress м. Таганская
                                        span 350 м               
                        .mobile-card-shares
                            .angle
                                .time-shares
                                    span.time-shares__day 26 д.
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                .mobile-card-shares-content__title
                                    h3 Подарок на февральские праздники
                                .mobile-card-shares-content__name
                                    h3 Этисэль на Таганке
                                .mobile-salon-adress
                                    span.adress-salon
                                        span.adress м. Таганская
                                        span 350 м    
                                          
                        .mobile-button-download
                            button Загрузить еще
                .crumbs-section
                    .wrapper
                        ul.crumbs-list
                            li.crumbs__item.crumbs__item-active
                                a(href="#").crumbs__link.crumbs__link_active Главная
                            li.crumbs__item
                                a(href="#").crumbs__link Акции и скидки   
                footer.mobile-footer
                    .wrapper
                        .mobile-mail
                            a(href="mailto:info@msk-beauty.ru").mail__link info@msk-beauty.ru
                        .mobile-footer__text    
                            p Рейтинг составлен на коммерческой основе, чтобы узнать подробности вы можете 
                                a(href="#") связаться с менеджером.                   