doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        title Beauty shop
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet'  href='css/normalize.css' )
        link(rel='stylesheet'  href='css/main.css' )
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300,400,500&amp;subset=cyrillic" rel="stylesheet")
        script(src="js/jquery-3.2.0.min.js" defer)
        script(src="js/hummer.js" defer)
        script(src="js/main.js" defer)
    body
        .mobile-wrapper
            .mobile-promo-wrap
                header.mobile-header-index.section-filter-blur
                    .mobile-menu-index.mobile-menu_js
                        a(href="#").mobile-menu-index__link
                            img(src="img/page2/menu2.png" alt="menu").mobile-menu-index__img
                    .mobile-logo-index        
                        a(href="index.html").mobile-logo-index__link
                            img(src="img/page2/logo-color.png" alt="logo" width="123" height="30").mobile-logo-index__img
                    .mobile-login-index.mobile-login_js
                        a(href="#").mobile-login-index__link
                            img(src="img/page2/doorSvg.svg" alt="enter" width="19" height="14").mobile-login-index__img
                .mobile-metro-section.mobile-metro_js.section-filter-blur
                    span.mobile-metro-title Cтанции метро
                .mobile-categories-section.mobile-categories_js.section-filter-blur
                    span.mobile-categories-title  Категории
                .promo-section
                    .wrapper
                        .mobile-card-shares
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                h3.mobile-card-shares-content__title Подарок на февральские праздники
                                h3.mobile-card-shares-content__name Этисэль на Таганке
                                .mobile-salon-adress
                                    span.mobile-adress-salon
                                        span.adress м. Таганская
                                        span 350 м
                                .mobile-time-shares
                                    span.mobile-time-shares__day 26 д.
                        .mobile-card-shares
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                h3.mobile-card-shares-content__title Подарок на февральские праздники
                                h3.mobile-card-shares-content__name Этисэль на Таганке
                                .mobile-salon-adress
                                    span.mobile-adress-salon
                                        span.adress м. Таганская
                                        span 350 м
                                .mobile-time-shares
                                    span.mobile-time-shares__day 26 д.
                        .mobile-card-shares
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                h3.mobile-card-shares-content__title Подарок на февральские праздники
                                h3.mobile-card-shares-content__name Этисэль на Таганке
                                .mobile-salon-adress
                                    span.mobile-adress-salon
                                        span.adress м. Таганская
                                        span 350 м
                                .mobile-time-shares
                                    span.mobile-time-shares__day 26 д.            
                        .mobile-card-shares
                            .mobile-card-shares-img
                                img(src="img/page2/shares.jpg" alt="shares")
                            .mobile-card-shares-content
                                h3.mobile-card-shares-content__title Подарок на февральские праздники
                                h3.mobile-card-shares-content__name Этисэль на Таганке
                                .mobile-salon-adress
                                    span.mobile-adress-salon
                                        span.adress м. Таганская
                                        span 350 м
                                .mobile-time-shares
                                    span.mobile-time-shares__day 26 д.
                        .mobile-button-download
                            button(type="button") Загрузить еще
                .crumbs-section
                    .wrapper
                        ul.crumbs-list
                            li.crumbs__item.crumbs__item-active
                                a(href="#").crumbs__link.crumbs__link_active Главная
                            li.crumbs__item
                                a(href="#").crumbs__link Акции и скидки   
        footer.mobile-footer
            .wrapper
                .mobile-mail
                    a(href="mailto:info@msk-beauty.ru").mail__link info@msk-beauty.ru
                .mobile-footer__text    
                    p Рейтинг составлен на коммерческой основе, чтобы узнать подробности вы можете 
                        a(href="#") связаться с менеджером.                   