.mobile-menu-emergence {
    position: absolute;
    display: block;
    left: 0;
    top:0;
    right: 0;
    width: 100%;
    transform: translateY(-101%);
    transition: transform 0.6s ease;
    z-index: 1001;
}

.openMenuPage {
    transform:translateY(0);
}

.mobile-menu-section {
    background: rgb( 22, 19, 37 );
    opacity: 0.851;
}

.mobile-salon-search-header {
    border-bottom: 1px solid #343045;
    padding-top: 10px;
    padding-bottom: 10px;
    
    .wrapper {
        position: relative;
    }
}

.mobile-salon-search-form {
    position: relative;
    width: 85.7%;
}

.mobile-close_position-menu {
    position: absolute;
    right: -10px;
    top: 0px;
}

.mobile-salon-search-form__input {
    border: 1px solid #4a4659;
    border-radius: 50px;
    color: #FFF;
    width: 100%;
    padding: 10px 55px 10px 13px;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-weight: 300;
}

.mobile-salon-search-form__submit {
    background: url(../../img/search.png) no-repeat;
    width: 12px;
    height: 13px;
    outline: none;
    border: none;
    position: absolute;
    right: 9px;
    top: 50%;
    margin-top: -5px;
}


.mobile-salon-menu-list {
    padding-left: 12px;
    margin-top: 20px;
    padding-bottom: 130px;
}

.mobile-salon-menu__link {
    display: block;
    color: #FFF;
}

.mobile-salon-menu__item {
    padding-top: 10px;
    padding-bottom: 10px;
}


















