.mobile-salon-wrap {
    color: #3c3c3b;
    
}

.mobile-discount-section {
    border-bottom: 1px solid #e5e5e5;
}
    
    .mobile-discount {
       width: 87.5%;
       margin: 0 auto;
       padding-top: 20px;
       padding-bottom: 20px;
    }
    
    .mobile-picture-section {
        max-height: 250px;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    .mobile-discount h1 {
        font-size: 18px;
        margin-bottom: 17px;
        line-height: 20px;
    }
    
    .mobile-discount-count {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    .mobile-discount-count__sum {
        font-weight:700;
    }
    
    .mobile-discount p {
        font-weight: 300;
        line-height: 20px;
        text-align: left;
    }
    
    .mobile-salon-nav {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .mobile-salon-nav__item {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 15px;
        padding-bottom: 15px;
        max-width:100px;
        text-align: center;
        display: inline-block;
    }
    
    .mobile-salon-nav__item_active {
        color: #ec407a;
        border-bottom: 2px solid #ec407a;
    }
    
    .mobile-salon-card {
        background: #FFF;
        padding-top: 20px;
        padding-bottom: 24px;
    }
    
    .mobile-salon-info {
        display: inline-block;
        vertical-align: top;
    }
    
    .mobile-salon-info h2 {
        font-size: 18px;
        margin-bottom: 7px;
    }
    
    .mobile-salon-info__adress {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 9px;
    }
    
    .mobile-salon-adress {
        margin-bottom: 7px;
    }
    
    .mobile-rating-section  {
        margin-bottom: 10px;
    }
    
    .mobile-rating-stars-list {
        display: inline-block;
        margin-right: 8px;
    }
    
    .mobile-rating-stars__item {
        display: inline-block;
        vertical-align: middle;
        background: url('../../img/star.png');
        width: 13px;
        height: 13px;
    }
    
    .mobile-rating-stars__item_filled {
        background: url('../../img/star-filled.png');
        width: 13px;
        height: 13px;
    }
    
    .mobile-rating-count {
        color: #b5b3b3;
        font-size: 12px;
        font-weight: 300;
        display: inline-block;
        vertical-align: middle;
    }
    
    .mobile-salon-way {
        display: block;
        margin-bottom: 15px;
        text-decoration: none;
        color: #5e35b1;
        font-size: 14px;
    }
    
    .mobile-call {
        display: block;
        padding-top: 12px;
        padding-bottom: 12px;
        background: #ec407a;
        font-size: 14px;
        font-weight: 500;
        color: #FFF;
        text-align: center;
        border-radius: 50px;
        position: relative;
        width: 190px;
    
    &::before {
        content:'';
        position: absolute;
        background: url(../../img/call.png) no-repeat;
        width: 14px;
        height: 16px;
        left: 15px;
        top: 50%;
        margin-top: -8px;
    }
    }
    
    .mobile-salon-picture {
       display: inline-block;
       vertical-align: top;
       margin-right: 10px;
        
        img {
            width: 70px;
            height: 70px;
            border-radius: 50px;
        }
        
    }
    
    .mobile-yandex-card {
        background: url('../../img/yandex.jpg');
        height: 115px;
    }
    
    .mobile-section-slider {
        background: #FFF;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    
    .mobile-slider-salon {
        text-align: center;
        margin: 0 auto;
    }
    
    .mobile-slider-salon__picture {
        margin-bottom: 10px;

        img {
            display: inline-block;
        }
    }
    
    .all-shares-block {
      border-top: 1px solid #e5e5e5;
    }
    
    .all-shares {
        color: #5e35b1;
        font-size: 16px;
        padding-top: 12px;
        padding-bottom: 15px;
        position: relative;
        display: block;
        text-decoration: none;
        
        &::after {
            content: '';
            background: url('../../img/arrow-blue.png');
            width:7px;
            height: 14px;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -9px;
        }        
    }
    
   .mobile-other-shares {
       margin-bottom: 20px;
   }
    
    .mobile-description-salon-title {
        background: #f6f6f6;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        
        h2 {
            font-size: 16px;
            @include wrapper;
        }
    }
    
    .mobile-description-salon-content   {
        @include wrapper;
        padding-bottom: 20px;
        
         p {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            margin-bottom: 20px;
        }
    }
    
    .mobile-further-salon {
        color: #5e35b1;
        font-size: 14px;
        position: relative;
        display: block;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;

        
        &::after {
            content: '';
            background: url('../../img/arrow-blue.png');
            width:7px;
            height: 14px;
            transform: rotate(90deg);
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }        
    }
    
    .mobile-conditions-salon-title {
        background: #f6f6f6;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        
        h2 {
            font-size: 16px;
            @include wrapper;
        }
    }
    
    .mobile-conditions-salon-list {
        @include wrapper;
        margin-bottom: 30px;
    }
    
    .mobile-conditions-salon__item {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: 300;

        &:last-child {
            margin-bottom: 0;
        }

        &::before{
            content: '';
            width: 5px;
            height: 5px;
            display: inline-block;
            border-radius: 50%;
            background: #5e35b1;
            margin-right: 15px;
    }
}

    .mobile-conditions-salon__item-text {
        display: inline-block;
        vertical-align: text-top;
        width: 78.125%;
    }
    
    .mobile-other {
        background: #f6f6f6;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        
        h2 {
            font-size: 16px;
            @include wrapper;
        }
    }
    
    .mobile-salon-registration-section {
        background: #4c3c7f;
        color: #FFF;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .mobile-salon-registration__title1 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 300;
    }
    
     .mobile-salon-registration__title2 {
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
    }
    
    .mobile-salon-registration-button {
        background: transparent;
        width: 100%;
        border: 1px solid #FFF;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        font-size: 15px;
        color: #FFF;
        border-radius: 50px;
        display: inline-block;
        vertical-align: middle;
        
        &::before {
            content: '';
            background: url('../../img/plus.png');
            width: 11px;
            height: 11px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    
    .crumbs-section {       
        p {
            font-size: 14px;
       }    
    } 
