.mobile-header-index {
    background: #FFF;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.mobile-index {
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
}

.swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #FFF;
}

.swiper-pagination-bullet-active {
    background: #FFF;
}

.mobile-menu-index {
    float: left;
    padding: 14px 12px;

   .mobile-menu-index__link {
       display: block;
   } 
   .mobile-menu-index__img {
       display: block;
   }   
}
    
 .mobile-logo-index {
   display: inline-block;
   padding-top: 6px;
}

.mobile-logo-index__link {
    display: block;
}

.mobile-logo-index__img {
    display: block;
}

.mobile-login-index {
    padding: 13px 12px;
    float: right;

    .mobile-login-index__link {
       display: block;
   }
   .mobile-login-index__img {
       display: block;
   }
}

.mobile-metro-section {
    background: #2f2562;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

.mobile-index .mobile-metro-title {
    padding-left: 0;
}

.mobile-index .mobile-categories-title {
    margin-left: 0;
}

.mobile-categories-section {
    background: #5e35b1;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
}

.mobile-main-slider {
    max-width: 700px;
}


.mobile-guide-section {
    background: #FFF;
    padding-top: 30px;
    
    &::before {
        content: '';
        background: url('../img/page2/compass.svg') no-repeat;
        width: 30px;
        height: 40px;
        display: block;
        margin: 0 auto;
    }
   
}

.mobile-guide-title {
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    position: relative;
    color: #3c3c3b;

    &::before,&::after {
        content: '';
        width: 3px;
        height: 3px;
        background: #6e6a6c;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;    
    }

    &::before {
        margin-right: 13px;
    }
     &::after {
        margin-left: 13px;
    }
}

.mobile-guide-list {
    margin-left: 10px;
    padding-bottom: 40px;
}

.mobile-guide__item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-guide__icon {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    margin-right: 20px;
}

.mobile-guide__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #3c3c3b;
    width: 130px;
}

.mobile-guide__sum {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #3c3c3b;
}

.mobile-guide__link {
    display: block;
}

.mobile-guide__img {
    display: inline-block;
    height: 25px;
}

/*-------------------------------------*/

.mobile-shares-section {
    margin-bottom: 20px;
}

.mobile-shares {
    background: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
    .wrapper {
        @include clearfix;
    }
}

.mobile-shares__title{
    font-size: 16px;
    color: #3c3c3b;
    float: left;
}

.mobile-shares__link {
    float: right;
    font-size: 14px;
    color: #5e35b1;
}

.mobile-card-shares {
    background: #ededed;
    position: relative;
    margin-bottom: 10px;
    width: 100%;    
}

.wrapper700 {
    max-width: 700px;
    width: 87.5%;
    margin: 0 auto;
}

.mobile-card-shares-img {
    text-align: center;
    
    img {
        display: inline-block;
    }
}

.mobile-card-shares-content {
    padding: 20px;
    position: relative;
}

.mobile-card-shares-content__title{ 
    font-size: 16px;
    color: #3c3c3b;
    margin-bottom: 24px;
    width: 194px;    
}

.mobile-card-shares-content__name{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #3c3c3b;
    font-weight: 300;
    margin-bottom: 18px;
    
      &::before {
        content: '';
        background: url('../img/page2/pin.png') no-repeat;
        width: 13px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}

.mobile-salon-adress {
    &::before {
        content: '';
        background: url('../img/page2/adress-pic.png') no-repeat;
        width: 28px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
}

.mobile-adress-salon {
    font-size: 14px;
    color: #3c3c3b;
    font-weight: 300;
    
    .adress {
        &::after {
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            margin-left: 5px;
            background: #929292;
        }
    }
}


.mobile-time-shares {
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #FFF;
    font-size: 14px;
    bottom: 10px;
    right: 5px;
}

.mobile-time-shares__day {
    margin-top: 13px;
    margin-left: 10px;
    display: inline-block;
    color: #3c3c3b;
    opacity: 0.6;
}

.mobile-slider-controll {
    @include clearfix;
    width: 140px;
    margin: 0 auto;
    padding: 1px;
}

.mobile-slider-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e7e7e7;
    background: transparent;
    position: relative;
}

.mobile-arrow-slider__back {
    float: left;
    
  &::before {
      content: '';
      background: url('../../img/arrow.png');
      width: 7px;
      height: 14px;
      @include absolute-center;
      transform: rotate(180deg);
  }
}

.mobile-arrow-slider__next {
    float: right;
    
  &::before {
      content: '';
      background: url('../../img/arrow.png');
      width: 7px;
      height: 14px;
      @include absolute-center;
  }
  
  .swiper-pagination {
    margin-top: 0;   
  } 
}

.swiper-button-next,.swiper-button-prev{
    margin: 0;
    right: 0;
    left: 0;
}

.mobile-slider-amount {
    text-align: center;
    margin-top: 0.65em;
    width: 40px;
    left: 50%;
    margin-left: -20px;
}

/*-----------------------------------------*/
.mobile-reviews-section {
    margin-bottom: 20px;
}

.mobile-reviews-title-block {
    background: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
    .wrapper {
        @include clearfix;
    }
}

.mobile-salon-reviews {
    margin-bottom: 25px;
}

.mobile-reviews__title{
    font-size: 16px;
    color: #3c3c3b;
    float: left;
}

.mobile-reviews__link {
    float: right;
    font-size: 14px;
    color: #5e35b1;
}

.mobile-salon-reviews__name {
    font-size: 16px;
    color: #3c3c3b;
    margin-bottom: 10px;
}

.mobile-reviews {
    margin-top: 10px;
    padding: 20px;
    position: relative;
    border-width: 1px 1px 0 1px;
    border-color: #ededed #ededed transparent #ededed;
    border-style: solid;
    background: linear-gradient(to right, #ededed 0, #ededed 15px, transparent 19px, transparent 38px, #ededed 38px, #ededed 100%) no-repeat bottom center / 100% 1px;
    
    p {
        line-height: 20px;
        font-size: 14px;
        color: #3c3c3b;
        font-weight: 300;
    }
    
    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom:-8px;
      left: 18px;
      width: 17px;
      height: 17px;
      transform: rotate(-45deg);
      border-bottom: 1px solid #ededed;
      border-left: 1px solid #ededed;
   }

}

.mobile-reviews-further {
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #5e35b1;
    margin-top: 30px;
}

.mobile-salon-reviews__author {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    color: #3c3c3b;
}

/*-----------------------------------------*/

.mobile-events-section {
    margin-bottom: 20px;
}

.mobile-events-title-block {
    background: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
    .wrapper {
        @include clearfix;
    }
}

.mobile-events-reviews {
    margin-bottom: 25px;
}

.mobile-events__title{
    font-size: 16px;
    color: #3c3c3b;
    float: left;
}

.mobile-events__link {
    float: right;
    font-size: 14px;
    color: #5e35b1;
}

.mobile-salon-events-card {
    border: 1px solid #ededed;
    margin-bottom: 10px;
}

.mobile-card-events-img {
    text-align: center;
    //height: 160px;
    background: #FFF;
    
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
      
    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.mobile-card-events-content {
    background: #ededed;
    padding: 20px 10px;
}

.mobile-card-events-content__title{
    color: #3c3c3b;
    font-size: 16px;
    margin-bottom: 20px;
}

.mobile-card-events-content__adress {
    color: #3c3c3b;
    font-size: 14px;
    font-weight: 300;
    width: 230px;
    line-height: 20px;
    margin-bottom: 10px;
    
    .events-adress1 {
        display: inline-block;
        vertical-align: middle;
    }
    
    .events-adress1::before {
      content: "";
      background: url('../../img/page2/pin.png');
      width: 13px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      
    }
    
    .events-adress {
        display: inline-block;
        margin-left: 19px;
    }
}

.mobile-card-events-content__time {
    color: #3c3c3b;
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
       
    &::before {
      content: "";
      background: url('../../img/page2/time.png');
      width: 13px;
      height: 13px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;  
    }
}
/*-----------------------------------------*/

.mobile-news-section {
    margin-bottom: 20px;
}

.mobile-news-title-block {
    background: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
    .wrapper {
        @include clearfix;
    }
}

.mobile-news__title{
    font-size: 16px;
    color: #3c3c3b;
    float: left;
}

.mobile-news__link {
    float: right;
    font-size: 14px;
    color: #5e35b1;
}

.mobile-salon-news-card {
    background: #ededed;
    position: relative;
    margin-bottom: 10px;
}

.mobile-card-news-content {
    padding: 20px;
}


.mobile-card-news-img {
    text-align: center;
    
    img {
        display: inline-block;
    }
}

.mobile-card-news-content__time {
    font-size: 14px;
    opacity: 0.6;
    color: #3c3c3b;
    margin-bottom: 14px;
}

.mobile-card-news-content__description {
    font-size: 16px;
    color: #3c3c3b;
    margin-bottom: 30px;
}

 .mobile-card-news-content__name{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #3c3c3b;
    font-weight: 300;
    margin-bottom: 18px;
    margin-bottom: 18px;
    
      &::before {
        content: '';
        background: url('../img/page2/pin.png') no-repeat;
        width: 13px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
 }

/*--------------------------*/
.mobile-articles-section {
    margin-bottom: 30px;
}

.mobile-articles-title-block {
    background: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    
    .wrapper {
        @include clearfix;
    }
}

.mobile-articles__title{
    font-size: 16px;
    color: #3c3c3b;
    float: left;
}

.mobile-articles__link {
    float: right;
    font-size: 14px;
    color: #5e35b1;
}

.mobile-salon-articles-card {
    background: #ededed;
    position: relative;
    margin-bottom: 10px;
}

.mobile-card-articles-content {
    padding: 20px;
}

.mobile-card-articles-img {
    text-align: center;
    
    img {
        display: inline-block;
    }
}

.mobile-card-articles-content__time {
    font-size: 14px;
    opacity: 0.6;
    color: #3c3c3b;
    margin-bottom: 14px;
}

.mobile-card-articles-content__description {
    font-size: 16px;
    color: #3c3c3b;
    margin-bottom: 30px;
}

 .mobile-card-articles-content__name {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #3c3c3b;
    font-weight: 300;
    margin-bottom: 18px;
    margin-bottom: 18px;
    
      &::before {
        content: '';
        background: url('../img/page2/pin.png') no-repeat;
        width: 13px;
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
 }
/*--------------------------------------*/

.content-section {
    h1 {
        color: #3c3c3b;
        font-size: 18px;
        margin-bottom: 11px;
    }
    
    p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #3c3c3b;
        text-align: left;
    }
    
    h2 {
        margin-top: 40px;
        margin-bottom: 25px;
        color: #3c3c3b;
        font-size: 18px;
    }
    
}


.content-list {
    margin-top: 25px;
    margin-bottom: 20px;
}

.content__item {
    color: #3c3c3b;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &::before{
        content: '';
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 50%;
        background: #5e35b1;
        margin-right: 15px;
    }
}

.content__description {
    font-weight: 300;
}

.content-wrap {
    display: inline-block;
    vertical-align: text-top;
    width: 78.125%;
}












































