.mobile-door-emergence {
    position: absolute;
    display: block;
    left: 0;
    top:0;
    right: 0;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.6s ease;
    z-index: 999;
}

.openDoorPage {
    transform:translateY(0);
}

.mobile-door-section {
  background: rgb( 22, 19, 37 );
  opacity: 0.86;
}

.mobile-door-header {
    color: $white4;
    border-bottom: 1px solid #353045;
    position: relative;
}

.mobile-door__item {
    display: inline-block;
    padding: 10px 30px;
   
    &:last-child {
        margin-right: 0px;
    }
}

.mobile-door__item_active {
    color: #FFF;
    border-bottom: 2px solid #ec407a;
    transition: color 0.3s ease;
}

.mobile-form-section-signIn {
    margin-top: 50px;
}
    
.mobile-door-form_style {
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: 50px;
    border:  1px solid $white4;
    color: $white4;
    font-size: 14px;
    padding: 12px;
    margin-bottom: 9px;
    
    &:last-child {
        margin-bottom: 0px;      
    }
}
    
.mobile-login-form{
    margin-bottom: 20px;
}

.mobile-account-management {
    font-size: 14px;
    @include clearfix;
    margin-bottom: 25px;
    margin-top: 10px;
    font-weight: 300;
}

.remember-me {
    color: #FFF;
    float: left;
}

.forgot-password {
    float: right;
}

.forgot-password__link {
    color: #ec407a;
}

.remember-me__input {
    position: absolute;
    top: 0;
    left: -9999px;
}

.remember-me__label {
    position: relative;
    display: block;
}

.remember-me__elem {
    position: relative;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 2px solid #908d9a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
}

.remember-me__elem::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
}

.remember-me__input:checked + .remember-me__elem::after {
  width: 100%;
  height: 100%;
  background: url(../../img/check.png) no-repeat;
  top: -3px;
  left: 3px;
}

.mobile-button-signIn {
    width: 100%;
    padding-bottom: 50px;
    border-bottom: 1px solid #353045;
}

.signIn {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #ec407a;
    font-size: 14px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    border-radius: 50px;
    position: relative;
    
    &::before {
        content:'';
        position: absolute;
        background: url(../../img/call.png) no-repeat;
        width: 14px;
        height: 16px;
        left: 20px;
        top: 50%;
        margin-top: -8px;
    }
}


.mobile-social-button {
    padding-bottom: 50px;
    
    .wrap {
        width: 280px;
        margin: 0 auto;
    }
}

.socials-button-wrap {
    color: #FFF;
    margin-top: 25px;
    
     p {
        margin-bottom: 20px;
    }
}

.socials {
    @include clearfix;
    margin-bottom: 13px;
}

.socials__item {
    float: left;
    margin-right: 9px;
    
    &:last-child{
        margin-right: 0px;
    }
}

.socials__link {
    display: block;
}

.socials__link_fb .socials__icon{
    background: url('../../img/social/fb.png') no-repeat;
    width: 135px;
    height: 32px;
}

.socials__link_vk .socials__icon{
    background: url('../../img/social/vk.png') no-repeat;
    width: 135px;
    height: 32px;
}

.socials__link_ok .socials__icon{
    background: url('../../img/social/ok.png') no-repeat;
    width: 32px;
    height: 32px;
}

.socials__link_twitter .socials__icon{
    background: url('../../img/social/twitter.png') no-repeat;
    width: 32px;
    height: 32px;
}

.socials__link_gmail .socials__icon{
    background: url('../../img/social/gmail.png') no-repeat;
    width: 32px;
    height: 32px;
}

.socials__link_yandex .socials__icon{
    background: url('../../img/social/yandex.png') no-repeat;
    width: 32px;
    height: 32px;
}

.socials__link_mail .socials__icon{
    background: url('../../img/social/mail.png') no-repeat;
    width: 32px;
    height: 32px;
}

/*--------------------------------------*/

.mobile-login-form-section {
    //display: none;
}

.mobile-form-section-signUp {
    display: none;
}

.mobile-registration-form-section {
    margin-top: 20px;
    border-bottom: 1px solid #474553;
}

.mobile-registration-form {
    margin-bottom: 20px;
    
    p {
        color: #FFF;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 15px;
        padding-left: 13px;
    }
}

.mobile-choice-gender {
    color: $white4;
    font-size: 14px;
    font-weight: 300;
    margin-left: 9px;
    margin-bottom: 23px;
}

.gender {
    display: inline-block;
    color: #FFF;
    margin-right: 18px;
}

.choice-gender__input {
    position: absolute;
    top: 0;
    left: -9999px;
}

.choice-gender__label {
    position: relative;
}

.choice-gender__elem {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #908d9a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    border-radius: 50%;
}

.choice-gender__text {
    display: inline-block;
    vertical-align: middle;
}

.choice-gender__elem::after {
  @include absolute-center;
  background: #ec407a;
  border-radius: 50%;
  width: 0;
  height: 0;
  content: '';
}

.choice-gender__input:checked + .choice-gender__elem::after {
  width: 7px;
  height: 7px;
}

.choice-gender__input:checked + .choice-gender__elem {
    border: 1px solid #FFF;
}

.choice-gender__input:checked ~ .choice-gender__text {
    color: #FFF;
}

.choice-gender__woman {
    margin-right: 23px;
}

.Rectangle_22 {
  background-color: rgb( 22, 19, 37 );
  opacity: 0.851;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 331px;
  height: 546px;
  z-index: 245;
}
































